In [26]:
import pandas as pd
import seaborn as sns

In [27]:
real_estate = pd.read_csv('Real_Estate_Sales_2001-2022_GL.csv')

/var/folders/3d/nb6n2ch91816p9ksz49h0wx00000gn/T/ipykernel_63741/2475136268.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  real_estate = pd.read_csv('Real_Estate_Sales_2001-2022_GL.csv')

In [28]:
real_estate.info

<bound method DataFrame.info of          Serial Number  List Year Date Recorded           Town  \
0               220008       2022    01/30/2023        Andover
1              2020348       2020    09/13/2021        Ansonia
2                20002       2020    10/02/2020        Ashford
3               210317       2021    07/05/2022           Avon
4               200212       2020    03/09/2021           Avon
...                ...        ...           ...            ...
1097624         190272       2019    06/24/2020     New London
1097625         190284       2019    11/27/2019      Waterbury
1097626         190129       2019    04/27/2020  Windsor Locks
1097627         190504       2019    06/03/2020     Middletown
1097628         190344       2019    12/20/2019        Milford

                  Address  Assessed Value  Sale Amount  Sales Ratio  \
0             618 ROUTE 6        139020.0     232000.0     0.599200
1         230 WAKELEE AVE        150500.0     325000.0     0.463000
2         390 TURNPIKE RD        253000.0     430000.0     0.588300
3         53 COTSWOLD WAY        329730.0     805000.0     0.409600
4        5 CHESTNUT DRIVE        130400.0     179900.0     0.724800
...                   ...             ...          ...          ...
1097624       4 BISHOP CT         60410.0      53100.0     1.137665
1097625   126 PERKINS AVE         68280.0      76000.0     0.898400
1097626    19 HATHAWAY ST        121450.0     210000.0     0.578300
1097627      8 BYSTREK DR        203360.0     280000.0     0.726300
1097628   250 RESEARCH DR       4035970.0    7450000.0     0.541700

         Property Type Residential Type      Non Use Code Assessor Remarks  \
0          Residential    Single Family               NaN              NaN
1           Commercial              NaN               NaN              NaN
2          Residential    Single Family               NaN              NaN
3          Residential    Single Family               NaN              NaN
4          Residential            Condo               NaN              NaN
...                ...              ...               ...              ...
1097624  Single Family    Single Family  14 - Foreclosure              NaN
1097625  Single Family    Single Family        25 - Other     PRIVATE SALE
1097626  Single Family    Single Family               NaN              NaN
1097627  Single Family    Single Family               NaN              NaN
1097628            NaN              NaN               NaN              NaN

        OPM remarks                            Location
0               NaN  POINT (-72.343628962 41.728431984)
1               NaN                                 NaN
2               NaN                                 NaN
3               NaN  POINT (-72.846365959 41.781677018)
4               NaN                                 NaN
...             ...                                 ...
1097624         NaN                                 NaN
1097625         NaN                                 NaN
1097626         NaN                                 NaN
1097627         NaN                                 NaN
1097628         NaN                                 NaN

[1097629 rows x 14 columns]>

In [29]:
real_estate.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,220008,2022,01/30/2023,Andover,618 ROUTE 6,139020.0,232000.0,0.5992,Residential,Single Family,NaN,NaN,NaN,POINT (-72.343628962 41.728431984)
1,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
2,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
3,210317,2021,07/05/2022,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096,Residential,Single Family,NaN,NaN,NaN,POINT (-72.846365959 41.781677018)
4,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN

In [30]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/envs/wk2_analytics/lib/python3.13/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [31]:
#pip install Flask-SQLAlchemy

In [32]:
from sqlalchemy import create_engine

In [33]:
host = r'127.0.0.1'
db = r'MSDS610'
user = r'postgres'
pw = r'MacMVP2025$' 
port = r'5432'
schema = r'raw'

In [34]:
db_conn = create_engine("postgresql://{}:{}@{}:{}/{}".format(user, pw, host, port, db))

In [35]:
sql="select tables.table_name from information_schema.tables where (table_schema ='"+schema+"')order by 1;"
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

Empty DataFrame
Columns: [table_name]
Index: []

In [36]:
table_name = r'real_estate_data'

In [37]:
real_estate.to_sql(table_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

1097629

In [38]:
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

         table_name
0  real_estate_data

In [39]:
sql=r'SELECT * FROM ' + schema + '.' + table_name
rlestate_check = pd.read_sql(sql, db_conn, index_col=None)

In [40]:
rlestate_check.head(10)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,220008,2022,01/30/2023,Andover,618 ROUTE 6,139020.0,232000.0,0.5992,Residential,Single Family,None,None,None,POINT (-72.343628962 41.728431984)
1,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,None,None,None,None,None
2,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,None,None,None,None
3,210317,2021,07/05/2022,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096,Residential,Single Family,None,None,None,POINT (-72.846365959 41.781677018)
4,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,None,None,None,None
5,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,None,None,None,None
6,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.5957,Residential,Single Family,None,None,None,None
7,22043,2022,03/15/2023,Beacon Falls,41 EDGEWOOD DRIVE,164170.0,285000.0,0.5760,Residential,Single Family,None,None,None,POINT (-73.053071989 41.439434021)
8,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.6780,Residential,Single Family,None,None,None,None
9,2020180,2020,03/01/2021,Berlin,1539 FARMINGTON AVE,234200.0,130000.0,1.8015,Residential,Two Family,08 - Part Interest,None,None,None